* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}

$bgcolor: #fafafa;
$hbgcolor: #f2f1f0;
$maxwidth: 1350px;
$main-font: "domine", serif;

body {
  background-color: $hbgcolor;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;

  .leader {
    max-width: $maxwidth;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    .firstheader {
      display: flex;
      justify-content: space-between;
      background-color: $bgcolor;
      padding: 13px;

      .input {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .search {
          display: flex;
          justify-self: center;
          align-items: center;
        }

        input {
          border: 0;
          background-color: transparent;
        }
      }

      button {
        font-size: 1.5rem;
        border: 0;
        height: 2rem;
        background-color: transparent;
      }

      .secondheader {
        display: flex;
        gap: 30px;
        max-width: 180px;
        width: 100%;

        @media screen and (max-width: 500px) {
          display: none;
        }

        button {
          display: flex;
          gap: 10px;
        }

        .svgs {
          max-width: 40px;
          max-height: 40px;

          .uefa {
            font-size: 70px;
          }
        }
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background-color: #f2f1f0;

      .burger {
        display: none;
        font-size: 2rem;
        cursor: pointer;
      }

      p {
        font-size: 2rem;
        flex: 1;
      }

      ul {
        display: flex;

        li {
          margin: 15px;

          .don {
            color: #967e54;
          }

          a {
            text-decoration: none;
            font-size: 20px;
            color: black;

            &:hover {
              color: #967e54;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 911;
    right: 1.5%;
    top: 50%;

    @media screen and (max-width: 500px) {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        width: 30px;
      }
    }
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: $maxwidth;
    width: 100%;
    background-image: url(../images/d01231e46af34161be7ad101d281a441.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
      font-size: 6rem;
      color: #fff;

      @media screen and (max-width: 700px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 340px) {
        font-size: 2rem;
      }
    }

    p {
      margin-top: 10px;
      color: white;
      font-size: 2rem;
    }

    a {
      background-color: black;
      padding: 15px 50px;
      text-decoration: none;
      transition: 0.4s;
      margin-top: 70px;

      &:hover {
        background-color: rgb(170, 137, 76);
      }

      span {
        color: #fff;
      }
    }
  }

  .box11 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 20vw;
    max-width: $maxwidth;
    width: 100%;
    background-color: white;
    padding: 19px;

    @media screen and (max-width: 400px) {
      padding: 15px;
    }

    h2 {
      font-size: 2rem;

      @media screen and (max-width: 400px) {
        font-size: 1.5rem;
        padding: 15px 0;
      }
    }

    p {
      margin: 20px 0;
      text-align: center;
    }
  }

  // header done.
  // products.
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;

    @media screen and (max-width: 1365px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 920px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .box3 {
      position: relative;

      .seler {
        top: 8px;
        left: 15px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.341);
        background-color: black;
        color: white;
        padding: 2px 10px;
        position: absolute;
        font-size: 0.9rem;
      }
    }

    .box6 {
      position: relative;

      .new {
        top: 8px;
        left: 15px;
        box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.341);
        background-color: black;
        color: white;
        padding: 1px 8px;
        position: absolute;
        font-size: 0.9rem;
      }
    }

    .box7 {
      position: relative;

      .sale {
        top: 8px;
        left: 15px;
        box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.341);
        background-color: black;
        color: white;
        padding: 1px 8px;
        position: absolute;
        font-size: 0.9rem;
      }
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $hbgcolor;

      @media screen and (max-width: 920px) {
        margin-top: 30px;
        padding: 0 10px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-decoration: none;
        gap: 8px;

        span {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          color: black;
          gap: 3px;

          .span {
            color: gray;
          }
        }
      }

      img {
        max-height: 293px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .regist {
    margin-top: 40px;
    max-width: $maxwidth;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 1.2rem;

    @media screen and (max-width: 700px) {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0;
    }

    .info {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      gap: 50px;

      .child1 {
        a {
          text-decoration: none;
          color: black;
        }

        .p1 {
          margin-bottom: 60px;
        }
      }

      .child3 {
        margin-bottom: 65px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .forms {
    display: flex;
    flex-flow: column;
    max-width: 370px;
    width: 100%;

    .perent {
      display: flex;
      gap: 50px;

      .text1 {
        display: flex;
        flex-flow: column;
        gap: 40px;
      }

      .text2 {
        display: flex;
        flex-flow: column;
        gap: 40px;
      }

      input {
        border-left: none;
        border-top: none;
        border-right: none;
        outline: none;
      }
    }

    .perent2 {
      display: flex;
      gap: 50px;
      margin-top: 20px;

      .text3 {
        display: flex;
        flex-flow: column;
        gap: 40px;
      }

      .text4 {
        display: flex;
        flex-flow: column;
        gap: 40px;
      }

      input {
        border-left: none;
        border-top: none;
        border-right: none;
        outline: none;
      }
    }

    .text5 {
      display: flex;
      flex-flow: column;
      margin-top: 20px;

      textarea {
        border-left: none;
        border-top: none;
        border-right: none;
        height: 70px;
        outline: none;
      }

      button {
        border: 0;
        height: 2rem;
        font-size: 1.3rem;
        background-color: #fff;
        padding: 30px;
      }
    }

    .text6 {
      display: flex;
      flex-flow: column;
      margin-top: 70px;

      input {
        margin-top: 20px;
        height: 40px;
        width: auto;
      }
    }

    .text7 {
      display: flex;
      margin-top: 15px;
      gap: 20px;

      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
      }
      .sivi {
        @media screen and (max-width: 500px) {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }

      input {
        width: 15px;
        height: 15px;
      }

      button {
        background-color: black;
        color: white;
        margin-left: 30px;
        padding: 10px 30px;
        font-size: 1.2rem;
        border: 0;

        &:hover {
          background-color: #967e54;
        }
      }
    }
  }

  .mapi {
    max-width: $maxwidth;
    width: 100%;
    height: 60vh;
  }

  footer {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 35px;
    margin-top: 20px;

    a {
      color: black;
    }
  }

  @media (max-width: 700px) {
    .header {
      nav {
        display: none;
      }
    }

    footer {
      font-size: 1rem;
    }

    .regist {
      .info {
        display: flex;

        flex-flow: column;
        gap: 50px;
      }

      .forms {
        .perent {
          display: flex;
          flex-direction: column;
        }

        .perent2 {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: white;
    transition: 0.4s ease;
    z-index: 9999;
    padding: 40px 20px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;

      a {
        font-size: 1.5rem;
        color: black;
      }
    }
  }

  .mobile-menu.active {
    right: 0;
  }

  .close {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .burger {
    display: block !important;
  }
}
