* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

$bgcolor: #fafafa;
$hbgcolor: #f2f1f0;
$font: Arial, Helvetica;
$pad: 30px;

body {
    padding: 30px;
    background-color: $hbgcolor;

    .leader {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        .firstheader {
            display: flex;
            justify-content: space-between;
            background-color: $bgcolor;
            padding: 30px;

            .input {
                display: flex;
                align-items: center;
                font-size: 1.5rem;

                input {
                    border: 0;
                    background-color: transparent;
                }
            }


            button {
                font-size: 1.5rem;
                border: 0;
                height: 2rem;
                background-color: transparent;
            }


        }

        // .../

        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #f2f1f0;

            p {
                font-size: 2rem;
                font-family: $font;
            }

            ul {
                display: flex;

                li {
                    margin: 15px;

                    a {
                        text-decoration: none;
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-image: url(../images/d01231e46af34161be7ad101d281a441.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h1 {
            font-size: 6rem;
            color: #fff;
            font-family: $font;
        }

        p {
            margin-top: 10px;
            color: white;
            font-size: 2rem;
        }

        a {
            background-color: black;
            padding: 15px 50px;
            text-decoration: none;
            transition: 0.4s;
            margin-top: 70px;

            &:hover {
                background-color: rgb(170, 137, 76)
            }

            span {
                color: #fff;

            }
        }

    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 40vh;
        background-color: white;
        margin: 9px 0;

        h2 {
            font-size: 2rem;
        }

        p {
            margin: 20px 0;
            font-family: $font;
            text-align: center;
        }
    }

    // header done.
    // products.
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;


        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $hbgcolor;


            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                text-decoration: none;
                gap: 8px;

                span {
                    font-size: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    color: black;
                    gap: 3px;

                    .span {
                        color: gray;
                    }
                }
            }

            img {
                height: 300px;
            }
        }

    }

    .regist {
        margin-top: 40px;
        min-height: 85vh;
        background-color: #fff;
        padding: 50px;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-flow: column;
            margin-left: 50px;
            
            .child1{
                a{
                    text-decoration: none;
                    color: black;
                }
            }

            .child3 {
                a {
                    text-decoration: none;
                    color: black;
                }
            }

        }
    }

    .data {
        display: flex;
        flex-flow: column;
        gap: 50px;
        .perent {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            

            .text1 {
                display: flex;
                flex-flow: column;
            }

            .text2 {
                display: flex;
                flex-flow: column;
            }

            input {
                border-left: none;
                border-top: none;
                border-right: none;
                width: 290px;
                height: 70px;
                outline: none;

            }

        }

        .perent2 {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin-top: 50px;

            .text3 {
                display: flex;
                flex-flow: column;
            }

            .text4 {
                display: flex;
                flex-flow: column;
            }

            input {
                border-left: none;
                border-top: none;
                border-right: none;
                width: 290px;
                height: 70px;
                outline: none;
            }
        }

        .text5 {
            display: flex;
            flex-flow: column;
            margin-top: 50px;

            textarea{
                border-left: none;
                border-top: none;
                border-right: none;
                height: 70px;
                outline: none;
            }
            button{
                border: 0;
                height: 2rem;
                font-size: 1.3rem;
                background-color: #fff;
                padding: 30px;
            }
        }
        .text6{
            display: flex;
            flex-flow: column;
            input{
                margin-top: 20px;
                height: 40px;
            }
        }

        .text7{
            display: flex;
            margin-top:15px;
            gap: 20px;

            input{
                width: 15px;
                height: 15px;
            }

            button{
                background-color: black;
                color: white;
                margin-left: 30px;
                padding: 10px 30px;
                font-size: 1.2rem;
                border: 0;
                
                &:hover{
                    background-color: #967e54;
                }
            }
        }

    }
}