* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f1f0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
body .leader {
  max-width: 1350px;
  width: 100%;
  position: fixed;
  top: 0;
}
body .leader .firstheader {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 13px;
}
body .leader .firstheader .input {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
body .leader .firstheader .input .search {
  display: flex;
  justify-self: center;
  align-items: center;
}
body .leader .firstheader .input input {
  border: 0;
  background-color: transparent;
}
body .leader .firstheader button {
  font-size: 1.5rem;
  border: 0;
  height: 2rem;
  background-color: transparent;
}
body .leader .firstheader .secondheader {
  display: flex;
  gap: 30px;
  max-width: 180px;
  width: 100%;
}
body .leader .firstheader .secondheader button {
  display: flex;
  gap: 10px;
}
body .leader .firstheader .secondheader .svgs {
  max-width: 40px;
  max-height: 40px;
}
body .leader .firstheader .secondheader .svgs .uefa {
  font-size: 70px;
}
body .leader .header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #f2f1f0;
}
body .leader .header p {
  font-size: 2rem;
  font-family: Arial, Helvetica;
}
body .leader .header ul {
  display: flex;
}
body .leader .header ul li {
  margin: 15px;
}
body .leader .header ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
body .img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1350px;
  width: 100%;
  background-image: url(../images/d01231e46af34161be7ad101d281a441.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .img h1 {
  font-size: 6rem;
  color: #fff;
  font-family: Arial, Helvetica;
}
body .img p {
  margin-top: 10px;
  color: white;
  font-size: 2rem;
}
body .img a {
  background-color: black;
  padding: 15px 50px;
  text-decoration: none;
  transition: 0.4s;
  margin-top: 70px;
}
body .img a:hover {
  background-color: rgb(170, 137, 76);
}
body .img a span {
  color: #fff;
}
body .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 40vh;
  max-width: 1350px;
  width: 100%;
  background-color: white;
  margin: 9px 0;
}
body .box h2 {
  font-size: 2rem;
}
body .box p {
  margin: 20px 0;
  font-family: Arial, Helvetica;
  text-align: center;
}
body .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media screen and (max-width: 1365px) {
  body .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 920px) {
  body .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
body .products .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1f0;
}
body .products .box a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-decoration: none;
  gap: 8px;
}
body .products .box a span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: black;
  gap: 3px;
}
body .products .box a span .span {
  color: gray;
}
body .products .box img {
  height: 293px;
}
body .regist {
  margin-top: 40px;
  max-width: 1350px;
  width: 100%;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
}
@media screen and (max-width: 700px) {
  body .regist {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
  }
}
body .regist .info {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  gap: 50px;
}
body .regist .info .child1 a {
  text-decoration: none;
  color: black;
}
body .regist .info .child1 .p1 {
  margin-bottom: 60px;
}
body .regist .info .child3 {
  margin-bottom: 65px;
}
body .regist .info .child3 a {
  text-decoration: none;
  color: black;
}
body .forms {
  display: flex;
  flex-flow: column;
  max-width: 370px;
  width: 100%;
}
body .forms .perent {
  display: flex;
  gap: 50px;
}
body .forms .perent .text1 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent .text2 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent input {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}
body .forms .perent2 {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
body .forms .perent2 .text3 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent2 .text4 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent2 input {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}
body .forms .text5 {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}
body .forms .text5 textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  height: 70px;
  outline: none;
}
body .forms .text5 button {
  border: 0;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #fff;
  padding: 30px;
}
body .forms .text6 {
  display: flex;
  flex-flow: column;
  margin-top: 70px;
}
body .forms .text6 input {
  margin-top: 20px;
  height: 40px;
  width: auto;
}
body .forms .text7 {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
body .forms .text7 input {
  width: 15px;
  height: 15px;
}
body .forms .text7 button {
  background-color: black;
  color: white;
  margin-left: 30px;
  padding: 10px 30px;
  font-size: 1.2rem;
  border: 0;
}
body .forms .text7 button:hover {
  background-color: #967e54;
}
body .mapi {
  max-width: 1350px;
  width: 100%;
  height: 60vh;
}
body footer {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  padding: 35px;
  margin-top: 20px;
}
body footer a {
  color: black;
}/*# sourceMappingURL=main.css.map */