* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #f2f1f0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
body .leader {
  max-width: 1350px;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
body .leader .firstheader {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 13px;
}
body .leader .firstheader .input {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
body .leader .firstheader .input .search {
  display: flex;
  justify-self: center;
  align-items: center;
}
body .leader .firstheader .input input {
  border: 0;
  background-color: transparent;
}
body .leader .firstheader button {
  font-size: 1.5rem;
  border: 0;
  height: 2rem;
  background-color: transparent;
}
body .leader .firstheader .secondheader {
  display: flex;
  gap: 30px;
  max-width: 180px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  body .leader .firstheader .secondheader {
    display: none;
  }
}
body .leader .firstheader .secondheader button {
  display: flex;
  gap: 10px;
}
body .leader .firstheader .secondheader .svgs {
  max-width: 40px;
  max-height: 40px;
}
body .leader .firstheader .secondheader .svgs .uefa {
  font-size: 70px;
}
body .leader .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f2f1f0;
}
body .leader .header .burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
body .leader .header p {
  font-size: 2rem;
  font-family: Arial, Helvetica;
}
body .leader .header ul {
  display: flex;
}
body .leader .header ul li {
  margin: 15px;
}
body .leader .header ul li .don {
  color: #967e54;
}
body .leader .header ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
body .leader .header ul li a:hover {
  color: #967e54;
  transition: 0.3s;
}
body .social {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 911;
  right: 1.5%;
  top: 50%;
}
@media screen and (max-width: 600px) {
  body .social {
    display: none;
  }
}
body .social ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .social ul img {
  width: 30px;
}
body .bxnny {
  display: flex;
  align-items: start;
  justify-content: center;
  max-width: 1350px;
  width: 100%;
  margin-top: 145px;
  gap: 50px;
  padding: 15px;
}
body .bxnny .nabeglavi {
  width: 100%;
}
body .bxnny .moska {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}
body .bxnny .moska .zipper {
  display: flex;
  gap: 4px;
}
body .bxnny .moska .zipper button {
  padding: 5px 8px;
}
body .bxnny .moska .kami {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
body .bxnny .moska .kami .mose {
  padding: 10px 20px;
  font-size: 1.1rem;
}
body .bxnny .moska .kami .mose:hover {
  background-color: rgba(128, 128, 128, 0.173);
  border: 1px solid rgb(134, 108, 42);
}
body .bxnny .moska .quantity {
  display: inline-flex;
  align-items: center;
  border: 1px solid #000;
  width: -moz-fit-content;
  width: fit-content;
}
body .bxnny .moska .quantity button {
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
body .bxnny .moska .quantity button:hover {
  background-color: #f2f2f2;
}
body .bxnny .moska .quantity input {
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
  background: transparent;
}
body .bxnny .moska .quantity input:focus {
  outline: none;
}
body .bxnny .moska form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .bxnny .moska form .payinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .bxnny .moska form .payinfo input {
  max-width: 525px;
  width: 100%;
  height: 35px;
}
body .bxnny .moska form .payinfo textarea {
  max-width: 525px;
  width: 100%;
  height: 100px;
}
body .bxnny .moska form .same {
  max-width: 260px;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid gray;
  font-size: 1.1rem;
}
body .bxnny .moska form .same:hover {
  background-color: rgba(158, 135, 101, 0.1019607843);
  border: 1px solid rgb(154, 121, 2);
}
body .bxnny .moska form button {
  max-width: 525px;
  width: 100%;
  height: 50px;
  background-color: rgba(146, 146, 146, 0.236);
  border: 1px solid rgb(123, 107, 52);
  font-size: 1.1rem;
}
body .bxnny .moska form button:hover {
  background-color: rgba(158, 135, 101, 0.1019607843);
  border: 1px solid rgb(154, 121, 2);
}
body .bxnny .moska form .buy {
  max-width: 525px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: white;
}
body .regist {
  margin-top: 40px;
  max-width: 1350px;
  width: 100%;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
  font-size: 1.2rem;
}
@media screen and (max-width: 900px) {
  body .regist {
    gap: 100px;
  }
}
@media screen and (max-width: 700px) {
  body .regist {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
  }
}
body .regist .info {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  gap: 50px;
}
body .regist .info .child1 a {
  text-decoration: none;
  color: black;
}
body .regist .info .child1 .p1 {
  margin-bottom: 60px;
}
body .regist .info .child3 {
  margin-bottom: 65px;
}
body .regist .info .child3 a {
  text-decoration: none;
  color: black;
}
body .forms {
  display: flex;
  flex-flow: column;
  max-width: 370px;
  width: 100%;
}
body .forms .perent {
  display: flex;
  gap: 50px;
}
body .forms .perent .text1 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent .text2 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent input {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}
body .forms .perent2 {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
body .forms .perent2 .text3 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent2 .text4 {
  display: flex;
  flex-flow: column;
  gap: 40px;
}
body .forms .perent2 input {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}
body .forms .text5 {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}
body .forms .text5 textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  height: 70px;
  outline: none;
}
body .forms .text5 button {
  border: 0;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #fff;
  padding: 30px;
}
body .forms .text6 {
  display: flex;
  flex-flow: column;
  margin-top: 70px;
}
body .forms .text6 input {
  margin-top: 20px;
  height: 40px;
  width: auto;
}
body .forms .text7 {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
@media screen and (max-width: 500px) {
  body .forms .text7 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  body .forms .text7 .sivi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
body .forms .text7 input {
  width: 15px;
  height: 15px;
}
body .forms .text7 button {
  background-color: black;
  color: white;
  margin-left: 30px;
  padding: 10px 30px;
  font-size: 1.2rem;
  border: 0;
}
body .forms .text7 button:hover {
  background-color: #967e54;
}
body .mapi {
  max-width: 1350px;
  width: 100%;
  height: 60vh;
}
body footer {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  padding: 35px;
  margin-top: 20px;
}
body footer a {
  color: black;
}
@media (max-width: 700px) {
  body .header nav {
    display: none;
  }
  body footer {
    font-size: 1rem;
  }
  body .regist .info {
    display: flex;
    flex-flow: column;
    gap: 50px;
  }
  body .regist .forms .perent {
    display: flex;
    flex-direction: column;
  }
  body .regist .forms .perent2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1190px) {
  body .bxnny {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  body .burger {
    display: block;
  }
}
body .mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: white;
  transition: 0.4s ease;
  z-index: 9999;
  padding: 40px 20px;
}
body .mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body .mobile-menu ul a {
  font-size: 1.5rem;
  color: black;
}
body .mobile-menu.active {
  right: 0;
}
body .close {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .burger {
    display: block !important;
  }
}/*# sourceMappingURL=giftcard.css.map */