* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}



$fontfamily: "Fredericka the Great", serif;
$fontwight: 400;
$fontstyle: normal;
$bgcolor: #fafafa;
$hbgcolor: #f2f1f0;
$font: Arial, Helvetica;
$pad: 30px;
$maxwidth: 1350px;

body {
  background-color: $hbgcolor;
  display: flex;
  flex-flow: column;
  align-items: center;

  .leader {
    max-width: $maxwidth;
    width: 100%;
    position: fixed;
    top: 0;



    .firstheader {
      display: flex;
      justify-content: space-between;
      background-color: $bgcolor;
      padding: 15px;

      .input {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .search {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        input {
          border: 0;
          background-color: transparent;
        }
      }


      button {
        font-size: 1.5rem;
        border: 0;
        height: 2rem;
        background-color: transparent;
      }

      .secondheader {
        display: flex;
        gap: 30px;
        max-width: 180px;
        width: 100%;

        button {
          display: flex;
          gap: 10px;
        }

        .svgs {
          max-width: 40px;
          max-height: 40px;

          .uefa {
            font-size: 70px;
          }
        }
      }


    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 17px;
      background-color: #f2f1f0;

      p {
        font-size: 2rem;
        font-family: $font;
      }

      ul {
        display: flex;

        li {
          margin: 15px;

          a {
            text-decoration: none;
            font-size: 20px;
            color: black;
          }
        }
      }
    }
  }



  //..........


  .shop {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-top: 150px;
    gap: 80px;

    @media screen and (max-width:840px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 10px;


      $black: #000;
      $gray: #dcdcdc;

      $black: #000;
      $gray: #dcdcdc;

      .range {
        width: 220px;


        &__title {
          font-size: 24px;
          margin-bottom: 12px;
        }
      }

      .price {
        border-top: 1px solid $gray;
        padding-top: 12px;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 18px;
          margin-bottom: 12px;
        }

        &__slider {
          input[type="range"] {
            width: 100%;
            appearance: none;
            height: 2px;
            background: $black;
            margin: 10px 0;

            &::-webkit-slider-thumb {
              appearance: none;
              width: 12px;
              height: 12px;
              background: $black;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }

        &__values {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }
      }



      h2 {
        font-size: 1.4rem;
        max-width: 150px;
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .bold {
          font-weight: bold;
        }

        li {
          a {
            font-size: 1.1rem;
            color: black;
          }
        }
      }

    }

    main {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .step {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 60px;


        .options {
          display: flex;
          align-items: center;
          font-size: 1.2rem;


          select {
            border: none;
            background: transparent;
            font-size: 1.1rem;
          }
        }
      }


      ul {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        gap: 20px;

        @media screen and (max-width:1350px) {
          display: flex;
          flex-direction: column;
        }

        .mone {
          font-size: larger;
          color: gray;
        }

        .money {
          font-size: larger;
        }

        li {


          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            span {
              color: black;
            }

          }
        }

        .box {
          display: flex;
        }
      }

      img {
        max-width: 500px;
        width: 100%;
      }
    }


  }


}