* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 30px;
  background-color: #f2f1f0;
}
body .leader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
body .leader .firstheader {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 30px;
}
body .leader .firstheader .input {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
body .leader .firstheader .input input {
  border: 0;
  background-color: transparent;
}
body .leader .firstheader button {
  font-size: 1.5rem;
  border: 0;
  height: 2rem;
  background-color: transparent;
}
body .leader .header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f1f0;
}
body .leader .header p {
  font-size: 2rem;
  font-family: Arial, Helvetica;
}
body .leader .header ul {
  display: flex;
}
body .leader .header ul li {
  margin: 15px;
}
body .leader .header ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
body .img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../images/d01231e46af34161be7ad101d281a441.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .img h1 {
  font-size: 6rem;
  color: #fff;
  font-family: Arial, Helvetica;
}
body .img p {
  margin-top: 10px;
  color: white;
  font-size: 2rem;
}
body .img a {
  background-color: black;
  padding: 15px 50px;
  text-decoration: none;
  transition: 0.4s;
  margin-top: 70px;
}
body .img a:hover {
  background-color: rgb(170, 137, 76);
}
body .img a span {
  color: #fff;
}
body .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 40vh;
  background-color: white;
  margin: 9px 0;
}
body .box h2 {
  font-size: 2rem;
}
body .box p {
  margin: 20px 0;
  font-family: Arial, Helvetica;
  text-align: center;
}
body .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
body .products .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1f0;
}
body .products .box a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-decoration: none;
  gap: 8px;
}
body .products .box a span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: black;
  gap: 3px;
}
body .products .box a span .span {
  color: gray;
}
body .products .box img {
  height: 300px;
}
body .regist {
  margin-top: 40px;
  min-height: 65vh;
  background-color: #fff;
  padding: 30px;
  font-size: 1.3rem;
  display: flex;
}
body .regist .info {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  min-height: auto;
}
body .regist .info .child3 a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */