* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

$bgcolor: #fafafa;
$hbgcolor: #f2f1f0;
$font:Arial,Helvetica;
$pad:30px;

body {
    padding: 30px;
    background-color: $hbgcolor;

    .leader {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        .firstheader {
            display: flex;
            justify-content: space-between;
            background-color: $bgcolor;
            padding: 30px;

            .input {
                display: flex;
                align-items: center;
                font-size: 1.5rem;

                input {
                    border: 0;
                    background-color: transparent;
                }
            }


            button {
                font-size: 1.5rem;
                border: 0;
                height: 2rem;
                background-color: transparent;
            }


        }

        // .../

        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #f2f1f0;
            p{
                font-size: 2rem;
                font-family: $font;
            }

            ul {
                display: flex;

                li {
                    margin: 15px;

                    a {
                        text-decoration: none;
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-image: url(../images/d01231e46af34161be7ad101d281a441.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h1{
            font-size: 6rem;
            color: #fff;
            font-family:$font;
        }
        p{
            margin-top: 10px;
            color: white;
            font-size: 2rem;
        }
        a{
            background-color: black;
            padding:15px 50px;
            text-decoration: none;
            transition: 0.4s;
            margin-top: 70px;
            &:hover{
                background-color: rgb(170, 137, 76)
            }
            span{
                color: #fff;

            }
        }

    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 40vh;
        background-color: white;
        margin: 9px 0;

        h2{
            font-size: 2rem;
        }
        p{
            margin:20px 0;
            font-family: $font;
            text-align: center;
        }
    }
    // header done.
    // products.
    .products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
        

        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $hbgcolor;

            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                text-decoration: none;
                gap: 8px;

                span{
                    font-size: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    color:black;
                    gap: 3px;
                    .span{
                        color: gray;
                    }
                }
            }

            img{
                height: 300px;
            }
        }
     
    }

    .regist{
        margin-top: 40px;
        min-height: 65vh;
        background-color: #fff;
        padding: $pad;
        font-size: 1.3rem;
        display: flex;
        .info{
            display: flex;
            justify-content: space-between;
            flex-flow: column;
            min-height: auto;

            .child3{
                a{
                    text-decoration: none;
                    color: black;
                }
            }

        }
    }
}